#Configuration info
[Project Info]
    Project = 20825

###SensorPowerUpInAdvance begin
[SensorPowerUpInAdvance]
    IsPowerUpinAdvance   = TRUE

[AecSettings]
    isUseAecMulan   = TRUE

[PropertyPackageName]
    AppPackageNameTag = oplus.camera.packname
###SensorPowerUpInAdvance end

[OPPackageName Group]
    SystemCamera    = com.oppo.camera; com.oplus.camera; com.ocs.cameraunit
    EngineerCamera  = com.oppo.engineermode; com.oppo.engineermode.camera; com.oplus.engineermode; com.oplus.engineercamera

[OemGsiCamxSettings]
    disableVTSPartialMetadata = TRUE

[ForceOffAvoidGPUAppList]
    #PackName                #PackName_name
    PackName[0]        =     com.oppo.camera
    PackName[1]        =     com.oplus.camera
    PackName[2]        =     com.oppo.engineermode.camera
    PackName[3]        =     com.oplus.engineercamera
    PackName[4]        =     com.sina.weibo
    PackName[5]        =     com.tencent.now
    PackName[6]        =     com.eg.android.AlipayGphone
    PackName[7]        =     com.taobao.idlefish
    PackName[8]        =     com.intsig.camscanner
    PackName[9]        =     com.linecorp.foodcamcn.android
    PackName[10]        =     com.perfectcorp.youcammakeupcn
    PackName[11]       =     my.PCamera
    PackName[12]       =     com.by.butter.camera
    PackName[13]       =     com.yixia.videoeditor
    PackName[14]       =     jp.naver.linecamera.android
    PackName[15]       =     cn.poco.jane
    PackName[16]       =     com.tencent.mm
    PackName[17]       =     com.alibaba.android.rimet
    PackName[18]       =     com.tencent.mobileqq
    PackName[19]       =     com.whatsapp
    PackName[20]       =     com.flyingeffects.com
    PackName[21]       =     com.xhey.xcamera
    PackName[22]       =     com.ocs.cameraunit

[OemCommonCapbility]
    isZslOutputBufferSameAsSensor = TRUE
    UseSauV2 = TRUE
    useFbFrontAsEffect            = TRUE
    isSkipFrameInCurrProject      = FALSE

[MultiCameraVirtualSuperGraph]
    #ChiFeature2Type     RealTimeMCX  FeatureMux  AnchorSync SWRemosaic Bayer2Yuv HDR  BOKEH MultiCameraReprocessRealtime RealtimePostProcessor
    #FeatureId           28           35          15         34         1         6    14    29                           32
    #Operation[0x8011]
    Common             =                                     34;                  6;

[VirtualSuperGraph]
    #ChiFeature2Type     RealTime RawHDR  Bayer2Yuv
    #FeatureId           0        10      1
    Camera[0]          =          10;
    Camera[1]          =          10;
    Camera[2]          =          10;
    Camera[3]          =          10;

[PinFiles]
    so[0]=/system/lib64/android.hardware.camera.device@3.2.so;
    so[1]=/system/lib64/android.hardware.camera.device@3.5.so;
    so[2]=/vendor/lib64/camera.device@3.2-impl.so;
    so[3]=/vendor/lib64/camera.device@3.5-impl.so;
    so[4]=/vendor/lib64/hw/camera.qcom.so;
    so[5]=/vendor/lib64/hw/com.qti.chi.override.so;
    so[6]=/vendor/lib64/vendor.display.config@2.0.so;
    so[7]=/vendor/lib64/libcamxfdalgo.so;
    so[8]=/vendor/lib64/libcamxfdengine.so;
    so[9]=/vendor/lib64/camera/components/com.qti.node.swpdpc.so;
    so[10]=/vendor/lib64/camera/components/com.qti.node.swpreprocess.so;
    so[11]=/vendor/lib64/camera/components/com.qti.node.swregistration.so;
    so[12]=/vendor/lib64/camera/components/com.qti.stats.aec.so;
    so[13]=/vendor/lib64/camera/components/com.qti.node.stich.so;
    so[14]=/vendor/lib64/com.qti.stats.common.so;
    so[15]=/vendor/lib64/camera/components/com.qti.stats.aecwrapper.so;
    so[16]=/vendor/lib64/camera/components/com.qti.stats.aecxcore.so;
    so[17]=/vendor/lib64/camera/components/com.qti.stats.af.so;
    so[18]=/vendor/lib64/camera/components/com.qti.stats.afd.so;
    so[19]=/vendor/lib64/camera/components/com.qti.stats.afwrapper.so;
    so[20]=/vendor/lib64/camera/components/com.qti.stats.asd.so;
    so[21]=/vendor/lib64/camera/components/com.qti.stats.awb.so;
    so[22]=/vendor/lib64/camera/components/com.qti.stats.awbwrapper.so;
    so[23]=/vendor/lib64/camera/components/com.qti.stats.cnndriver.so;
    so[24]=/vendor/lib64/camera/components/com.qti.stats.haf.so;
    so[25]=/vendor/lib64/camera/components/com.qti.stats.pdlibsony.so;
    so[26]=/vendor/lib64/camera/components/com.qti.stats.pdlibwrapper.so;
    so[27]=/vendor/lib64/camera/components/com.qti.stats.tracker.so;
    so[28]=/vendor/lib64/camera/components/com.qtistatic.stats.aec.so;
    so[29]=/vendor/lib64/camera/components/com.qtistatic.stats.af.so;
    so[30]=/vendor/lib64/camera/components/com.qtistatic.stats.awb.so;
    so[31]=/vendor/lib64/camera/components/com.qtistatic.stats.pdlib.so;
    so[32]=/vendor/lib64/camera/components/com.qti.hvx.addconstant.so;
    so[33]=/vendor/lib64/camera/components/com.qti.hvx.binning.so;
    so[34]=/vendor/lib64/com.qti.feature2.mcreprocrt.so;
    so[35]=/vendor/lib64/com.qti.feature2.mux.so;
    so[36]=/vendor/lib64/com.qti.feature2.realtimeserializer.so;
    so[37]=/vendor/lib64/com.qti.feature2.rtmcx.so;
    so[38]=/vendor/lib64/libCB.so;
    so[39]=/vendor/lib64/libOpenCL.so;
    so[40]=/vendor/lib64/libgsl.so;
    so[41]=/vendor/lib64/libscveObjectTracker_stub.so;
    so[42]=/vendor/lib64/com.qti.chiusecaseselector.so;
    so[43]=/vendor/lib64/com.qti.feature2.gs.mannar.so;
    so[44]=/vendor/lib64/com.qti.feature2.anchorsync.so;
    so[45]=/vendor/lib64/com.qti.feature2.demux.so;
    so[46]=/vendor/lib64/com.qti.feature2.derivedoffline.so;
    so[47]=/vendor/lib64/com.qti.feature2.frameselect.so;
    so[48]=/vendor/lib64/com.qti.feature2.fusion.so;
    so[49]=/vendor/lib64/com.qti.feature2.generic.so;
    so[50]=/vendor/lib64/com.qti.feature2.hdr.so;
    so[51]=/vendor/lib64/com.qti.feature2.memcpy.so;
    so[52]=/vendor/lib64/com.qti.feature2.mfsr.so;
    so[53]=/vendor/lib64/com.qti.feature2.ml.so;
    so[54]=/vendor/lib64/com.qti.feature2.qcfa.so;
    so[55]=/vendor/lib64/com.qti.feature2.rawhdr.so;
    so[56]=/vendor/lib64/com.qti.feature2.rt.so;
    so[57]=/vendor/lib64/com.qti.feature2.serializer.so;
    so[58]=/vendor/lib64/com.qti.feature2.statsregeneration.so;
    so[59]=/vendor/lib64/com.qti.feature2.stub.so;
    so[60]=/vendor/lib64/com.qti.feature2.swmf.so;
    so[61]=/vendor/lib64/camera/components/com.qti.node.gpu.so;
    so[62]=/vendor/lib64/camera/components/com.qti.stats.hafoverride.so;
    so[63]=/vendor/lib64/libcamxtintlessalgo.so;
    so[64]=/vendor/lib64/libtfestriping.so;
    so[65]=/vendor/lib64/libopestriping.so;
    so[66]=/vendor/lib64/libcvface_api.so;
    so[67]=/vendor/etc/camera/M_FaceAttribute_RGB_age_gender_1.7.1.model.hardcode;
    so[68]=/vendor/lib64/camera/components/com.qti.node.remosaic.so;

[ActuatorConfig]
    ParkLensDelayTime = 1000

#Distinguish hand and tripod in the SuperNight or NightVideo
[SuperNightShakeState]
    Enable             = false

[CamSensorSettingMap]
    Enable             = TRUE

[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask      index
    Mode[0]         =     0x8001;            0x0001;            0x0000;           1  #Picture & SUPER HUAZHI & SUPER TXT
    Mode[1]         =     0x8001;            0x0002;            0x0000;           1  #Picture
    Mode[2]         =     0x8007;            0x0001;            0x0000;           1  #Panorama
    Mode[3]         =     0x8007;            0x0002;            0x0000;           1  #Panorama
    Mode[4]         =     0x8009;            0x0001;            0x0000;           1  #Professional
    Mode[5]         =     0x800B;            0x0001;            0x0000;           6  #VIDEO
    Mode[6]         =     0x800B;            0x0002;            0x0000;           1  #VIDEO
    Mode[7]         =     0x800C;            0x0001;            0x0000;           6  #FastVideo
    Mode[8]         =     0x800C;            0x0002;            0x0000;           1  #FastVideo
    Mode[9]         =     0x800D;            0x0001;            0x0000;           8  #SLOW MOVIE
    Mode[10]        =     0x800E;            0x0003;            0x0000;           1  #STICKER
    Mode[11]        =     0x8011;            0x0001;            0x0000;           2  #PORTRAIT
    Mode[12]        =     0x8011;            0x0002;            0x0000;           1  #PORTRAIT
    Mode[13]        =     0x8011;            0x0004;            0x0000;           1  #PORTRAIT
    Mode[14]        =     0x8019;            0x0001;            0x0000;           1  #NIGHT
    Mode[15]        =     0x8019;            0x0002;            0x0000;           1  #NIGHT
    Mode[16]        =     0x8021;            0x0001;            0x0000;           7  #VIDEO　60FPS
    Mode[17]        =     0x802C;            0x0001;            0x0000;           6  #DUAL SCENE
    Mode[18]        =     0x802C;            0x0002;            0x0000;           1  #DUAL SCENE
    Mode[19]        =     0x80A6;            0x0008;            0x0000;           0  #Macro


[EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   feature_mask    index
    Mode[0]        =      0x0000;            0x0001;        0x0000;       1;
    Mode[1]        =      0x0000;            0x0002;        0x0000;       1;
    Mode[2]        =      0x9001;            0x0001;        0x0000;       2; #DualcamCalib
    Mode[3]        =      0x9001;            0x0004;        0x0000;       1; #DualcamCalib
    Mode[4]        =      0x802A;            0x0001;        0x0000;       1; #SFR Mode
    Mode[5]        =      0x802A;            0x0002;        0x0000;       0; #SFR Mode

[CtsCamSensorSettingMap]
    #                   cts_mode         sensor_mask   index
    Mode[0]        =      0x0001;            0x0001;       1;
    Mode[1]        =      0x0001;            0x0002;       1;

[OtherCamSensorSettingMap]
    #                                   camera id  FPS    width    height  operation mode  setting index
    com.whatsapp[0]                    =    0;     -1;    640;     480;        -1;            2
    com.whatsapp[1]                    =    1;     -1;    1600;    720;        -1;            2
    jp.naver.line.android[0]           =    1;     -1;    1280;    720;        -1;            2

[ThirdAppCamRatioSensorSettingMap]
    #                  Ratio_mode         sensor_mask   index
    Mode[0]        =      0x0000;            0x0001;       1;
    Mode[1]        =      0x0000;            0x0002;       1;
    Mode[2]        =      0x0001;            0x0001;       6;
    Mode[3]        =      0x0001;            0x0002;       1;
#Whether or not to enable Remosaic for SFR
[EngCameraSFR]
    #                  sensor_mask        state
    Mode[0]        =      0x0001;           0 #Disable
    Mode[1]        =      0x0002;           1 #Disable

#Only Remosaic & InsensorZoom write to SPC
[OemCamWriteSPCMap]
    #                  sensor_mask        resolutionIndexMask
    Mode[0]        =      0x0001;           3
    Mode[1]        =      0x0002;           1

[OemFDSelect]
    Is3rdApkUsePlatformFD = true
    IsBindBigCore         = true
    BigCoreIdxList        = 6; 7
    SetMaxFPS30           = true

[BokehConfigureInformation]
    RearBokehImgSizeList = 4000; 3000; 1600; 1200

[OemSupportedCustomImageSizes]
    #                width height
    ImageSizes[0]  = 8000; 3632
    ImageSizes[1]  = 6560; 4928
    ImageSizes[2]  = 6560; 2976
    ImageSizes[3]  = 6560; 2960
    ImageSizes[4]  = 6560; 3696
    ImageSizes[5]  = 4928; 4928
    ImageSizes[6]  = 4624; 3468
    ImageSizes[7]  = 4608; 3456
    ImageSizes[8]  = 4624; 2608
    ImageSizes[9]  = 4608; 2592
    ImageSizes[10] = 4624; 2080
    ImageSizes[11] = 4608; 2080
    ImageSizes[12] = 3468; 3468
    ImageSizes[13] = 3456; 3456
    ImageSizes[14] =  960; 1080 #dual scene mode
    ImageSizes[15] =  640; 368 #dual scene mode
    ImageSizes[16] =  464; 464 #dual scene mode

[SupportedImageSizes]
#                   width   height
    ImageSizes[0]  =  9248; 6936
    ImageSizes[1]  =  8000; 6000
    ImageSizes[2]  =  4624; 3468
    ImageSizes[3]  =  4624; 2608
    ImageSizes[4]  =  4624; 2080
    ImageSizes[5]  =  4160; 3120
    ImageSizes[6] =  4000; 3000
    ImageSizes[7] =  4000; 2256
    ImageSizes[8] =  4000; 1800
    ImageSizes[9] =  3840; 2160
    ImageSizes[10] =  3468; 3468
    ImageSizes[11] =  3264; 2448
    ImageSizes[12] =  3264; 1840
    ImageSizes[13] =  3264; 1472
    ImageSizes[14] =  3200; 2400
    ImageSizes[15] =  3120; 3120
    ImageSizes[16] =  3072; 3072
    ImageSizes[17] =  3000; 3000
    ImageSizes[18] =  2592; 1944
    ImageSizes[19] =  2448; 2448
    ImageSizes[20] =  2400; 1080
    ImageSizes[21] =  2304; 1728
    ImageSizes[22] =  1920; 1440
    ImageSizes[23] =  1920; 1080
    ImageSizes[24] =  1600; 1200
    ImageSizes[25] =  1600; 900
    ImageSizes[26] =  1600; 720
    ImageSizes[27] =  1520; 720
    ImageSizes[28] =  1440; 1080
    ImageSizes[29] =  1280; 960
    ImageSizes[30] =  1280; 768
    ImageSizes[31] =  1280; 720
    ImageSizes[32] =  1200; 1200
    ImageSizes[33] =  1080; 1080
    ImageSizes[34] =  1024; 768
    ImageSizes[35] =  960;  960
    ImageSizes[36] =  960;  720
    ImageSizes[37] =  800;  600
    ImageSizes[38] =  800;  480
    ImageSizes[39] =  720;  720
    ImageSizes[40] =  720;  480
    ImageSizes[41] =  640;  480
    ImageSizes[42] =  640;  400
    ImageSizes[43] =  640;  360
    ImageSizes[44] =  352;  288
    ImageSizes[45] =  320;  240
    ImageSizes[46] =  176;  144

# max avaliable stream size published by HAL, for those max sensor output size is less than wanted stream size
[MaxStreamSizeBySensorName]
    # sensor name   width   height
    sy_imx471[0] = 4624;    3468
    ov16a1q[0]   = 4624;    3468

[OemPerformanceOptimization]
    IsAsyncAllocMeta = TRUE
    IsSyncPrepareFinalizePipeline = TRUE

[SensorDPCSupport]
    DeferInitEnabled    = true
[OemCTSConfig]
    FocusDistance = 4.85
[MIDAS]
    isSupportMidas = TRUE
[OplusDataMaskSaveDAC]
    IsEnable  =  TRUE

[OemFpsRangeSettingMap]
    #                     fps_head     fps_tail
    OemFpsRange[0] =        10 ;          10;
    OemFpsRange[1] =        10 ;          30;
    OemFpsRange[2] =        15 ;          15;
    OemFpsRange[3] =        15 ;          24;
    OemFpsRange[4] =        24 ;          24;
    OemFpsRange[5] =        30 ;          30;

[OemStickerModeConfig]
    modifyStickerUsecase = TRUE

[Feature2graphSettings]
    isFlushDestroySync = TRUE
